.card-2{
    grid-column: 2/3;
    grid-row: 1;
    width: 55rem;
    height: 45rem;
    background-color: #ff9400;
    justify-content: center;
    // position: absolute;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;   
}
.card-text-2{
    padding: 1rem;
    margin-left: 5rem;
    margin-top: 5rem;
}
.card-text-2 span{
    padding: 1rem;
    margin-left: 27rem;
    font-size: 4rem;
}
.card-text-2 h2{
    color: #fff;
    font-weight: bold;
    font-size: 4rem;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: .5rem;
}
.card-text-2 p{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-top: 1rem;
}
.card-main-2{
    width: 90%;
    height: 18rem;
    display: grid;
    grid-gap: .2rem;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 9rem 9rem;
    margin: auto;
    margin-top: 5rem;
    // background-image: url("/img/card2.jpg");
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;;
}
.circle-21{
    grid-column: 1/2;
    grid-row: 1;
    background-color: #ffa933;
}
.circle-22{
    grid-column: 2/3;
    grid-row: 1;
    background-image: url("/img/card-21.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;;
}
.circle-22-o{
    grid-column: 2/3;
    grid-row: 1;
    opacity: .8;
    background-color: #ffa933;

}
.circle-23{
    grid-column: 3/4;
    grid-row: 1;
    // background-color: #ffa933;
    background-image: url("/img/card-22.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;;

}
.circle-23-o{
    grid-column: 3/4;
    grid-row: 1;
    opacity: .8;
    background-color: #ffa933;
}
.circle-24{
    grid-column: 4/5;
    grid-row: 1;
    // background-color: #ffa933;
    background-image: url("/img/card-23.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;;

}
.circle-24-o{
    grid-column: 4/5;
    grid-row: 1;
    opacity: .8;
    background-color: #ffa933;
}
.circle-25{
    grid-column: 5/6;
    grid-row: 1;
    background-color: #ffa933;
}
// ---------------------------------
.circle-26{
    grid-column: 1/2;
    grid-row: 2;
    background-color: #ffa933;
}
.circle-27{
    grid-column: 2/3;
    grid-row: 2;
    background-color: #ffa933;
}
.circle-28{
    grid-column: 3/4;
    grid-row: 2;
    // background-color: #ffa933;
    background-image: url("/img/card-24.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;;

}
.circle-28-o{
    grid-column: 3/4;
    grid-row: 2;
    opacity: .8;
    background-color: #ffa933;
}
.circle-29{
    grid-column: 4/5;
    grid-row: 2;
    // background-color: #ffa933;
    background-image: url("/img/card-25.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;;

}
.circle-29-o{
    grid-column: 4/5;
    grid-row: 2;
    opacity: .8;
    background-color: #ffa933;
}
.circle-210{
    grid-column: 5/6;
    grid-row: 2;
    background-color: #ffa933;
}

.card-2:hover{
    background: #fff;
    transition: background-color .3s;
    .card-text-2 h2{
      color: black;
    }
    .card-text-2 p{
      color: black;
    }
    .circle-22-o{
        opacity: 0;
        transition: opacity .5s;
    }
    .circle-23-o{
        opacity: 0;
        transition: opacity .9s;
    }
    .circle-24-o{
        opacity: 0;
        transition: opacity 1.5s;
    }
    .circle-28-o{
        opacity: 0;
        transition: opacity .9s;
    }
    .circle-29-o{
        opacity: 0;
        transition: opacity 1.5s;
    }
}
@keyframes left-right{
    from{grid-column: 1/3;opacity: 1;}
    to{grid-column: 2/4;opacity: 1;}
}
