.card-3{
    grid-column: 1/2;
    grid-row: 2;
    width: 55rem;
    height: 45rem;
    background-color: #03a8f5;
    justify-content: center;
    // position: absolute;
    // margin-top: 93rem;
    // margin-left: 5rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;   
}
.card-text-3{
    padding: 1rem;
    margin-left: 5rem;
    margin-top: 5rem;
}
.card-text-3 span{
    padding: 1rem;
    margin-left: 10rem;
    font-size: 4rem;
}
.card-text-3 h2{
    color: #fff;
    font-weight: bold;
    font-size: 4rem;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: .5rem;
}
.card-text-3 p{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-top: 1rem;
}
.card-main-3{
    width: 85%;
    height: 23rem;
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 9rem 9rem;
    margin: auto;
    margin-top: 5rem;
}
.circle-31{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #61cbfd;
    border-radius: 10rem;

}
.circle-32{
    grid-column: 2/3;
    grid-row: 1/3;
    // background-color: #61cbfd;
    border-radius: 10rem;
    background-image: url("/img/card-31.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;;
}
.circle-32-o{
    grid-column: 2/3;
    grid-row: 1/3;
    border-radius: 10rem;
    background-color: #61cbfd;
    opacity: .8;
}

.circle-33{
    grid-column: 3/4;
    grid-row: 1/3;
    // background-color: #61cbfd;
    border-radius: 10rem;
    background-image: url("/img/card-32.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;;
}
.circle-33-o{
    grid-column: 3/4;
    grid-row: 1/3;
    border-radius: 10rem;

    background-color: #61cbfd;
    opacity: .8;
}
.circle-34{
    grid-column: 4/5;
    grid-row: 1/2;
    background-color: #2fbbfc;
    border-radius: 10rem;

}
.circle-35{
    grid-column: 5/6;
    grid-row: 1/3;
    background-color: #61cbfd;
    border-radius: 10rem;

}
.circle-36{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #2fbbfc;
    border-radius: 10rem;

}
.circle-37{
    grid-column: 4/5;
    grid-row: 2/3;
    background-color: #2fbbfc;
    border-radius: 10rem;
    background-image: url("/img/card-33.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.circle-37-o{
    grid-column: 4/5;
    grid-row: 2/3;
    border-radius: 10rem;
    background-color: #61cbfd;
    opacity: .8;
}
.circle-38{
    grid-column: 5/6;
    grid-row: 1/2;
    background-color: #2fbbfc;
    border-radius: 10rem;

}
.card-3:hover{
    background: #fff;
    transition: background-color .3s;
    .card-text-3 h2{
      color: black;
    }
    .card-text-3 p{
      color: black;
    }
    .circle-36{
        margin-top: -10rem;
        margin-bottom: 10rem;
        transition-property :margin-top ,margin-bottom;
        transition-duration:.5s;
        transition-timing-function:ease-in-out;
    }
    .circle-38{
        margin-top: 10rem;
        margin-bottom: -10rem;
        transition-property :margin-top ,margin-bottom;
        transition-duration:.5s;
        transition-timing-function:ease-in-out;
        transition-delay:.5s;
    }
    .circle-32-o{
        opacity: 0;
        transition-property: opacity;
        transition-duration: .5s;
        // transition-delay: 1s;
    }
    .circle-33-o{
        opacity: 0;
        transition-property: opacity;
        transition-duration: .5s;
        // transition-delay: .5s;
    }
    .circle-37-o{
        opacity: 0;
        transition-property: opacity;
        transition-duration: .5s;
        // transition-delay: .5s;
    }
}

@keyframes down-up{
    from{grid-column: 1/3;opacity: 1;}
    to{grid-column: 2/4;opacity: 1;}
}
