.third-pg-bg-div{
    height: 115rem;
    margin-top: 35rem;
    border-bottom-right-radius: 10rem;
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
.third-pg-text{
    grid-column: 1/4;
    grid-row: 1;
    padding: 7rem 2rem 7rem 7rem ;
}
.first-3{
    text-transform: uppercase;
    font-size: 1.5rem;
    color: black;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    padding-left: 0;
    letter-spacing: .5rem;
}
.second-3{
    font-size: 4rem;
    font-weight: 700;
    color: black;
    margin: 0 ;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    padding-left: 0;
    padding-top: 0;

}
.third-3{
    font-size: 2rem;
    color: #615661;
    margin: 0;
    margin-bottom: 1rem;
    font-family: "Open Sans",sans-serif;}
.fourth-3{
    text-decoration: none;
    font-size: 2rem;
    color: black;
    letter-spacing: .5rem;
}
.fourth-3 span{
    font-size: 2rem;
    color: black;
}

.gallery{
    grid-column: 5/8;
    height: 110rem;
    background-color: #f2f2f2;
    border-top-left-radius: 25rem;
}
.backgroung{
    float: right;
    margin-top: 10rem;
    width: 100%;
    margin-left: 10rem;
}
[class^="row-"]{
    display: grid;
    margin-right: 10rem;
    grid-template-columns:repeat(5,1fr);
    grid-column-gap: 2rem;
    margin-left: -7rem;
}
[class^="pic-"]{
    grid-column: 1/3;
    // width: 20rem;
    // height: 12rem;
    margin-bottom: 1rem;
    border-top-left-radius: 10px;   
    border-top-right-radius: 10px;  
    border-bottom-left-radius: 10px;   
}
.description{
    grid-column: 3/6;
    margin-bottom: 1rem;
    border-top: 1px solid black;
    padding: 2rem;

}
.pic-1{
    background-image: url("/img/g1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pic-2{
    background-image: url("/img/g2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pic-3{
    background-image: url("/img/g3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pic-4{
    background-image: url("/img/g4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pic-5{
    background-image: url("/img/g5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pic-6{
    background-image: url("/img/g6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pic-7{
    background-image: url("/img/g7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.one{
    color: black;
    font-size:2rem;
    font-weight: 700;;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .2rem;
    margin-bottom: 0;
    margin-top: 2rem;
}
.two{
    color: dimgray;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.center-text-1{
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 12rem;   
}
.one-1{
    color: black;
    font-size: 2rem;
    margin-bottom: 0;
    letter-spacing: .5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.two-1{
    color: black;
    font-size: 5rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    // letter-spacing: .5rem;
}
.three-1{
    color: dimgray;
    font-size: 2.5rem;
    padding: 0 20rem 0 20rem;
    // font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    // letter-spacing: .5rem;
}